/* HEADER */
.header {
  position: relative;
  .swiper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &-slide {
      display: flex;
      justify-content: center;
      align-items: center;

      min-height: 100%;

      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      &.slide-1 {
        background-image: url("./../img/header-bg-1.jpeg");
      }
      &.slide-2 {
        background-image: url("./../img/header-bg-2.jpeg");
      }
      &.slide-3 {
        background-image: url("./../img/header-bg-3.jpeg");
      }
    }
  }

  &__container {
    position: relative;
    padding: 20px var(--indent-x) 0;
    min-height: 1000px;
  }
  &__top {
    justify-content: space-between;
  }
  &__socials {
    gap: var(--gap);
  }
  &__socials-link {
    display: inline-block;
    text-decoration: none;

    svg {
      width: clamp(1.563rem, 1.466rem + 0.48vw, 1.875rem);
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &-bottom {
    position: absolute;
    right: var(--indent-x);
    bottom: 0;

    flex-flow: column nowrap;
    align-items: flex-start;
    gap: var(--gap);

    width: min(624px, 100%);
    height: clamp(12.938rem, 9.798rem + 15.7vw, 23.063rem);
    background-color: var(--yellow);
    clip-path: polygon(8% 0%, 100% 0%, 100% 86%, 92% 100%, 0% 100%, 0% 14%);
    // background-image: url("./../img/label-bg.png");
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;

    &__text {
      position: absolute;
      top: var(--indent-y);
      right: var(--indent-y);
      left: var(--indent-y);
      font-family: "Archangelsk", sans-serif;
      font-size: clamp(1.875rem, 1.255rem + 3.1vw, 3.875rem);
    }

    &__link {
      position: absolute;
      bottom: var(--indent-y);
      left: var(--indent-y);

      padding: var(--padding-btn-y) var(--padding-btn-x);
      background-color: var(--black);
      border: 2px solid var(--black);

      color: var(--yellow);

      &:focus {
        &:not(:hover):not(:active) {
          outline: 3px solid var(--black);
          outline-offset: 2px;
        }
      }

      &:hover {
        background-color: var(--yellow);
        color: var(--black);
      }

      &:active {
        background-color: var(--black);
        color: var(--yellow);
      }
    }
  }
}
